:root {
  --1: #000;
  --2: #383838;
  --3: #99aab5;
  --4: #ffffff;
  --5: #7289da;
  --nav-color: rgba(31, 31, 31, 0.8);
  --nav-height: 4rem;
  --footer-height: 128px;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: var(--nav-height);
  background: #121212;
}

@keyframes shift {
  0% {
    background-position: right;
  }
  50% {
    background-color: center;
  }
  100% {
    background-position: left;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  font-family: "Staatliches";
  transition: all 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li > a[class~="active"] {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}

li > a:hover::after {
}

li > a[class~="active"]::after {
  width: 100%;
}

li > a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, #290099, #d92b00);
  transition: width 0.3s ease 0s, right 0.3s ease 0s;
  width: 0;
  border-radius: 32px;
}

* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  padding-top: 40px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 1px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  background: black;
}
::-webkit-scrollbar-thumb {
  border-radius: 2px;
  height: 30px;
  width: 8px;
  background: rgb(111, 111, 111);
  -webkit-box-shadow: 0 1px 1px rgb(0, 0, 0);
  background: linear-gradient(to bottom, #290099, #d92b00);
}

::-webkit-scrollbar-track-piece {
  height: 30px;
  width: 30px;
}

@keyframes textGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 100% 100%;
  }
}

.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
  gap: 1rem;
}
.embla__slide {
  position: relative;
  flex: 0 0 500px;
  max-width: 100%;
}
.embla__progress {
  position: relative;
  background-color: #5c5f66;
  margin-top: 12px;
  max-width: 270px;
  width: calc(100% - 40px);
  height: 4px;
  overflow: hidden;
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
}

.embla__progress__bar {
  position: absolute;
  background-image: linear-gradient(45deg, #290099 0%, #d92b00 100%);
  width: 100%;
  top: 0;
  bottom: 0;
  left: -100%;
}

/* Animated Mouse */
#mouse-scroll {
  style: block;
}
#mouse-scroll {
  margin: auto;
}
#mouse-scroll span {
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transform: rotate(45deg);
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  margin: 0 0 3px 5px;
}
#mouse-scroll .mouse {
  height: 21px;
  width: 14px;
  border-radius: 10px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
  border: 2px solid #ffffff;
  top: 170px;
}
#mouse-scroll .down-arrow-1 {
  margin-top: 6px;
}
#mouse-scroll .down-arrow-1,
#mouse-scroll .down-arrow-2,
#mouse-scroll .down-arrow-3 {
  -webkit-animation: mouse-scroll 1s infinite;
  -moz-animation: mouse-scroll 1s infinite;
}
#mouse-croll .down-arrow-1 {
  -webkit-animation-delay: 0.1s;
  -moz-animation-delay: 0.1s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-2 {
  -webkit-animation-delay: 0.2s;
  -moz-animation-delay: 0.2s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .down-arrow-3 {
  -webkit-animation-delay: 0.3s;
  -moz-animation-dekay: 0.3s;
  -webkit-animation-direction: alternate;
}
#mouse-scroll .mouse-in {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #ffffff;
  position: relative;
}
#mouse-scroll .mouse-in {
  -webkit-animation: animated-mouse 1.2s ease infinite;
  moz-animation: mouse-animated 1.2s ease infinite;
}

@-webkit-keyframes animated-mouse {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-webkit-keyframes mouse-scroll {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@keyframes mouse-scroll {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Loader */
.loading-container,
.dot-loading-container {
  position: relative;
  width: 100px;
  height: 100px;
}
.loading-container {
  transform-origin: center;
  animation: anirotate 10s linear infinite;
}
.dot-loading-container {
  position: absolute;
  border: 0px solid #fff;
  border-radius: 50px;
}
.dot-loading-container:nth-child(2) {
  transform: rotate(40deg);
}
.dot-loading-container:nth-child(2) .dot {
  animation-delay: -0.5s;
}
.dot-loading-container:nth-child(3) {
  transform: rotate(80deg);
}
.dot-loading-container:nth-child(3) .dot {
  animation-delay: -1s;
}
.dot {
  position: absolute;
  height: 10px;
  width: 10px;
  background: #fff;
  border-radius: 5px;
  transform: translate(0, 0);
}
.dot:nth-child(1) {
  top: 0;
  left: calc(50% - 5px);
  animation: ani1 2s infinite;
}
.dot:nth-child(2) {
  bottom: calc(28% - 5px);
  left: calc(11% - 5px);
  animation: ani2 2s infinite;
}
.dot:nth-child(3) {
  bottom: calc(28% - 5px);
  right: calc(11% - 5px);
  animation: ani3 2s infinite;
}
[hidden] {
  display: none;
}
@keyframes anirotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-359deg);
  }
}
@keyframes ani1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-40px, 67px);
  }
}
@keyframes ani2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(77px, 0);
  }
}
@keyframes ani3 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-39px, -67px);
  }
}

/* Animated Background */
.background {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
  z-index: -9999;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
