@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --1: #000;
    --2: #383838;
    --3: #99aab5;
    --4: #ffffff;
    --5: #7289da;
    --nav-color: rgba(31, 31, 31, 0.8);
    --nav-height: 4rem;
    --footer-height: 128px;
  }

  html {
    font-family: "Poppins", system-ui, sans-serif;
    scroll-behavior: smooth;
    background-color: var(--1);
    background-image: url("https://www.transparenttextures.com/patterns/stardust.png");
    background-attachment: fixed;
    animation: shift 240s linear infinite;
  }
}

@keyframes shift {
  0% {
    background-position: right;
  }
  50% {
    background-color: center;
  }
  100% {
    background-position: left;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Staatliches, system-ui, sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.75);
  font-weight: 500;
  transition: all 0.3s;
}

a:hover {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}

li > a[class~="active"] {
  color: rgba(255, 255, 255, 1);
  transition: all 0.3s;
}

li > a:hover::after {
}

li > a[class~="active"]::after {
  width: 100%;
}

li > a::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 4px;
  background: linear-gradient(to right, var(--3), var(--5) 100%);
  transition: width 0.3s ease 0s, right 0.3s ease 0s;
  width: 0;
}

* {
  box-sizing: border-box;
}

.logo {
  font-size: 1rem;
  color: var(--4);
}

.logo::after {
  display: none;
}

.content-wrapper {
  min-height: calc(100vh - var(--footer-height));
  color: var(--4);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  max-width: 1333px;
  padding: 0 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-subtitle {
  font-size: 1.5rem;
  color: var(--4);
  font-weight: 500;
  margin-bottom: 1rem;
}

.hero-title {
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.hero-title span {
  color: var(--5);
}

button,
.link-button {
  position: relative;
  background: none;
  color: var(--5);
  text-transform: uppercase;
  text-decoration: none;
  border: 0.2em solid var(--5);
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 700;
  width: min-content;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  border-radius: 8px;
  white-space: nowrap;
}

button::before,
.link-button::before {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: var(--1);
  height: 0.3em;
  right: 20%;
  top: -0.21em;
  transform: skewX(-45deg);
  -webkit-transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

button::after,
.link-button::after {
  content: "";
  display: block;
  position: absolute;
  width: 10%;
  background: var(--1);
  height: 0.3em;
  left: 20%;
  bottom: -0.25em;
  transform: skewX(45deg);
  -webkit-transition: all 0.45 cubic-bezier(0.86, 0, 0.07, 1);
  transition: all 0.45s cubic-bezier(0.86, 0, 0.07, 1);
}

button:hover,
.link-button:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

button:hover::before,
.link-button:hover::before {
  right: 80%;
}

button:hover::after,
.link-button:hover::after {
  left: 80%;
}

.action-button {
  border-radius: 8px;
  min-width: 0px;
  padding: 8px;
}

.social-button-container {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.grid {
  max-width: 1024px;
  display: grid;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: 1rem;
  margin-right: 1rem;
}

.footer {
  background: var(--1);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  min-height: var(--footer-height);
  border-top: 1px solid var(--2);
  padding: 4vh;
  margin-top: 4rem;
  color: var(--5);
}

@media screen and (min-width: 1024px) {
  .grid {
    margin-left: auto;
    margin-right: auto;
  }
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  z-index: 999;
  background-color: rgba(56, 56, 56, 0.75);
}

.nav {
  height: var(--nav-height);
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
}

.nav-item {
  margin-bottom: 2rem;
  cursor: pointer;
}

.nav-link,
.nav-link:hover {
  position: relative;
}

.nav-socials {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100px;
}

@media screen and (min-width: 900px) {
  .navbar {
    height: calc(var(--nav-height) + 1rem);
  }

  .nav-list {
    display: flex;
    padding-top: 0;
  }

  .nav-item {
    margin-left: 3rem;
    margin-bottom: 0;
  }

  .nav-toggle {
    display: none;
  }

  .nav-socials {
    width: 150px;
  }
}

@media screen and (max-width: 900px) {
  .nav-menu {
    display: none;
  }

  .nav-socials {
    display: none;
  }
}

.menu-button {
  color: var(--4);
  filter: drop-shadow(2px 2px var(--2));
}

.section-title {
  font-size: 3rem;
  font-weight: 700;
  -webkit-text-stroke: 1px var(--5);
  color: transparent;
  margin-bottom: 1rem;
  text-align: center;
}

#projects {
  height: fit-content;
  width: 100%;
  max-width: 100vw;
  padding: 0 3rem;
}

.projects-container {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  margin-top: 1rem;
  justify-content: center;
}

.project-card {
  background-color: var(--1);
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  border: 2px solid var(--2);
  border-radius: 8px;
  display: grid;
  align-items: center;
  position: relative;
}

.project-card-header,
.project-card-content,
.project-card-footer {
}

.project-card-title {
  padding: 1rem;
  font-size: 1rem;
}

.project-card-title h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.project-card-content {
  font-size: 2rem;
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  border-bottom: 2px solid var(--2);
  padding: 1rem;
}

.project-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 0 1rem;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.project-tag {
  padding: 0.5rem 1rem;
  border-radius: 4rem;
  font-size: 0.75rem;
  color: var(--4);
  background-color: var(--2);
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.project-links {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

#about {
  height: fit-content;
  width: 100%;
  max-width: 100vw;
  padding: 0 3rem;
  margin-top: 2rem;
}
.about-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.about-card {
  background-color: var(--1);
  background-image: url("https://www.transparenttextures.com/patterns/rebel.png");
  border: 2px solid var(--2);
  border-radius: 8px;
  position: relative;
  min-width: 20rem;
}

.about-card-title {
  background: var(--2);
  font-weight: 700;
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  padding: 0.5rem 2rem;
}

.about-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.25rem;
  padding: 1rem;
  gap: 1rem;
  min-height: 300px;
}

@media (min-width: 37.5rem) {
  #projects,
  #about {
    padding: 0 8rem;
  }
  .about-card-container {
  }
}
